/*********************    BASIC    ***********************/
:root {
  --textColor: #2d3a4a;
  --bagColor: #f2f0ed;
  --prettyYellow: #ffc600;
  /* --redWineColor: #7099d0; */
  --redWineColor: #678cbf;
  /* --whiteWineColor: #b5c10e; */
  --whiteWineColor: #b7bf45;
  --roseWineColor: #be6580;
  /* --smagekasseColor: #9bcbcb; */
  --smagekasseColor: #bd9648;
  --specialitetColor: #a8a400;
  --fontMain: "Poppins", sans-serif;
  --fontHead: "Playfair Display", serif;
}

.readmore[data-theme="rødvin"],
.wine_name[data-theme="rødvin"],
.fragt_info[data-theme="rødvin"],
.btn[data-theme="rødvin"] {
  /* --wine-color: #7099d0; */
  --wine-color: #678cbf;
}

.readmore[data-theme="hvidvin"],
.wine_name[data-theme="hvidvin"],
.fragt_info[data-theme="hvidvin"],
.btn[data-theme="hvidvin"] {
  /* --wine-color: #b5c10e; */
  --wine-color: #b7bf45;
}
.readmore[data-theme="rosé vin"],
.wine_name[data-theme="rosé vin"],
.fragt_info[data-theme="rosé vin"],
.btn[data-theme="rosé vin"] {
  --wine-color: #be6580;
}

.readmore[data-theme="smagekasser"],
.wine_name[data-theme="smagekasser"],
.fragt_info[data-theme="smagekasser"],
.btn[data-theme="smagekasser"] {
  /* --wine-color: #9bcbcb; */
  --wine-color: #bd9648;
}

.readmore[data-theme="specialiteter"],
.wine_name[data-theme="specialiteter"],
.fragt_info[data-theme="specialiteter"],
.btn[data-theme="specialiteter"] {
  --wine-color: #a8a400;
}

.readmore {
  border: 2px solid var(--wine-color);
  color: var(--wine-color);
  background-color: transparent;
  border-radius: 5px;
  padding: 1.4vw;
  font-family: var(--fontMain);
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bagColor);
  margin: 0;
}

.no-scroll {
  overflow: hidden;
}

.visible {
  opacity: 1;
}

.unvisible {
  opacity: 0;
}

img {
  width: 100%;
  /* height: 100%; */
}

/*Skjuler scrollbar, så produkterne fremstår bedre i grid*/
::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3 {
  font-family: var(--fontHead);
  color: var(--textColor);
}

p,
a,
h4 {
  font-family: var(--fontMain);
}

p,
h4 {
  color: var(--textColor);
}

a {
  text-decoration: none;
  font-weight: 600;
  color: var(--textColor);
}

a:hover {
  font-weight: 600;
}

nav p {
  color: var(--textColor);
}

footer a {
  font-weight: 400;
  text-decoration: underline;
  font-size: 0.7rem;
}

footer p {
  font-size: 0.7rem;
}

/* .show {
  display: flex;
} */

.hide {
  display: none;
}

/*********************    HEADER    ***********************/

.mobilenav {
  overflow: hidden;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: #f2f0ed;
  overflow: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  left: 10vw;
  overflow: hidden;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: var(--textColor);
  display: block;
  transition: 0.3s;
}

.overlay .closebtn {
  position: absolute;
  right: 3vh;
  font-size: 60px;
  color: var(--textColor);
  font-weight: 400;
}

.openbtn {
  font-size: 45px;
  cursor: pointer;
  right: 3vh;
  position: fixed;
  top: 2vh;
  z-index: 1;
  color: var(--textColor);
}

.overlay-content p {
  padding-left: 8px;
  font-size: 1.2rem;
  /* font-style: oblique; */
  margin-bottom: 4px;
}

.desk_nav a {
  padding: 2vw;
}

.overlay a {
  font-size: 20px;
}

.overlay .closebtn {
  font-size: 60px;
  top: 0;
  right: 3vh;
}

.burger_logo {
  width: 150px;
  margin-left: 20%;
  margin-bottom: 10%;
  animation: swinging 3.5s ease-in-out forwards infinite;
}

.logo_con {
  margin-left: 2vw;
}

.logo_con img {
  margin-top: 10px;
  width: 150px;
}

header .desktop {
  display: none;
}

/*********************    KONTEKST MENU MOBIL    ***********************/
#contextnav nav {
  text-align: center;
  margin-top: 13vw;
}

#contextnav nav a {
  padding: 5vw;
}

/*********************    FORSIDE    ***********************/

#splash {
  max-width: none;
  margin: 0;
  max-height: 100vh;
}

.hero img {
  max-height: 100vh;
}

.splash_overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f2f0ed80;
  width: 100vw;
  height: 100vh;
}

.logo {
  position: absolute;
  top: 28vh;
  left: 8vh;
  width: 65%;
  /* padding-top: 40vh; */
  /* color: white; */
  animation: fade-in 1.5s both;
  animation-delay: 1.5s;
  /* animation: swinging 3.5s ease-in-out forwards infinite; */
}

@keyframes swinging {
  0% {
    transform: rotate(3deg);
  }

  50% {
    transform: rotate(-1deg);
  }

  100% {
    transform: rotate(3deg);
  }
}

#splash h2 {
  position: absolute;
  top: 47.5vh;
  left: 5vh;
  font-size: 1.2rem;
  animation: fade-in 1.5s both;
  animation-delay: 3s;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(5vh);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

#promises {
  margin-left: 0;
  padding: 3vw;
}

.promises_wrapper {
  text-align: center;
}

#promises img {
  max-width: 85%;
}

/*********************    SCROLL DOWN ARROW    ***********************/

.scroll-down {
  position: absolute;
  bottom: 1vw;
  display: block;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  z-index: 9;
  left: 40vw;

  -webkit-animation: fade_move_down 3s ease-in-out infinite;
  -moz-animation: fade_move_down 3s ease-in-out infinite;
  animation: fade_move_down 2s ease-in-out infinite;
}
/* 
.scroll-down-arrow {
  font-size: 25px;
  z-index: 100;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  width: 25px;
  height: 25px;
  border-bottom: 4px solid var(--textColor);
  border-right: 4px solid var(--textColor);
} */

/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -10px);
    opacity: 0;
  }

  50% {
    -webkit-transform: translate(0, 10px);

    opacity: 1;
  }

  100% {
    -webkit-transform: translate(0, -10px);
    opacity: 0;
  }
}

@-moz-keyframes fade_move_down {
  0% {
    -moz-transform: translate(0, -10px);
    opacity: 0;
  }

  50% {
    -moz-transform: translate(0, 10px);

    opacity: 1;
  }

  100% {
    -moz-transform: translate(0, -10px);
    opacity: 0;
  }
}

@keyframes fade_move_down {
  0% {
    transform: translate(0, -7px);
    opacity: 0.8;
  }

  50% {
    transform: translate(0, 7px);

    opacity: 1;
  }

  100% {
    transform: translate(0, -7px);
    opacity: 0.8;
  }
}

#headline {
  text-align: center;
  padding-top: 2vw;
}

#index_content {
  margin: 3vw;
}

/****************      FOOTER       ****************/
footer {
  bottom: 0;
  background-color: #fff;
  margin-top: 15vh;
  margin-bottom: 0;
}

#desk_footer {
  display: none;
}

#mobile_footer img {
  width: 40%;
  padding: 2vh;
  animation: swinging 3.5s ease-in-out forwards infinite;
}

#mobile_footer p {
  margin: 0.5rem;
}

#mobile_footer .footer_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/****************     FOOTER SLUT       ************/
/****************        VINE           ************/

#vine_headline {
  margin-top: 20vw;
  text-align: center;
}

.vine_headline {
  background-image: linear-gradient(90deg, transparent 50%, white 0);
  background-origin: 0;
  background-size: 200% 40%;
  background-repeat: repeat-x;
  background-position: -130% 90%;
  transition: background-position 0.5s;
  font-size: 3rem;
}

.show_only {
  font-weight: 600;
  font-size: 1.2rem;
  border-bottom: 1px solid black;
  margin: 0 15vw 5vw 15vw;
}

/* button, der skifter tekst ved hover/klik på mobil
Inspiration hertil er fået fra https://codepen.io/melaniebmn/pen/VyOOVQ*/

.btn {
  flex: 1 0 0px;
  font: 20px/1 var(--fontMain);
  text-align: center;
  box-sizing: border-box;
  background: none;
  color: var(--wine-color);
  border: 2px solid var(--wine-color);
  transition: all 0.3s;
  /* font-family: var(--fontMain); */
  font-size: 0.9rem;
  border-radius: 5px;
  padding: 2.3vw;
}
.btn:hover {
  cursor: pointer;
}

.btn__effect--2 {
  position: relative;
  overflow: hidden;
}

.btn__effect--2:before,
.btn__effect--2 span {
  transition: all 0.4s;
  transition-timing-function: cubic-bezier(0.85, 0, 0.2, 1);
}
.btn__effect--2:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  content: attr(data-text);
  transform: translate3d(0, 10px, 0);
}
.btn__effect--2 span {
  display: inline-block;
  opacity: 0;
  transform: translate3d(0, -10px, 0);
}
.btn__effect--2:hover:before {
  opacity: 0;
  transform: translate3d(0, 40px, 0);
}
.btn__effect--2:hover span {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.btn__effect--2:hover span:nth-child(1) {
  transition-delay: 0.04s;
}
.btn__effect--2:hover span:nth-child(2) {
  transition-delay: 0.08s;
}
.btn__effect--2:hover span:nth-child(3) {
  transition-delay: 0.12s;
}
.btn__effect--2:hover span:nth-child(4) {
  transition-delay: 0.16s;
}
.btn__effect--2:hover span:nth-child(5) {
  transition-delay: 0.2s;
}
.btn__effect--2:hover span:nth-child(6) {
  transition-delay: 0.24s;
}
.btn__effect--2:hover span:nth-child(7) {
  transition-delay: 0.28s;
}
.btn__effect--2:hover span:nth-child(8) {
  transition-delay: 0.32s;
}
.btn__effect--2:hover span:nth-child(9) {
  transition-delay: 0.36s;
}
.btn__effect--2:hover span:nth-child(10) {
  transition-delay: 0.4s;
}
.btn__effect--2:hover span:nth-child(11) {
  transition-delay: 0.44s;
}
.btn__effect--2:hover span:nth-child(12) {
  transition-delay: 0.48s;
}

.fragt_info {
  margin: 3vw;
  border: 3px solid var(--wine-color);
  padding: 2vw;
  border-radius: 10px;
}

.wines {
  padding: 3vh 3vh 3vh 0;
  align-items: center;
}

.wine_image {
  text-align: center;
  align-self: end;
}

.single_wine {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-top: 5vh;
  cursor: pointer;
}

.single_wine h2 {
  font-size: 1.2rem;
}

#wines img {
  max-width: 60px;
}

#specialiteter #wines img {
  max-width: 90px;
}

.wine_price {
  /* margin-top: -2vh; */
  font-size: 0.8rem;
  /* min-height: 1vw; */
}

#wines p {
  font-size: 0.8rem;
}

#wines .fragt_info p {
  font-size: 1rem;
}

#wines .show_only {
  font-size: 1.2rem;
}

/* .single_product h2 {
  color: var(--wine-color);
} */

#interesse {
  margin-top: 7vw;
}

/* .wine_name {
  color: var(--wine-color);
} */

/****************     VINE SLUT       ************/
/****************        SPECIALITETER           ************/

/****************     SPECIALITETER SLUT       ************/
/****************        MØD SMIDT VINE           ************/

#moed_smidtvine {
  margin: 3vw;
}

/****************     MØD SMIDT VINE SLUT       ************/
/****************            OM           ************/

#om_smidtvine {
  margin: 3vw;
}

#about_content {
  margin: 3vw;
}

#løfter {
  margin-top: 5vw;
  overflow-x: hidden;
}

/*INTERSECTION OBSERVER*/
.anim,
.anim2 {
  opacity: 0;
}

@keyframes anim1 {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes anim2 {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes pop_up_anim {
  from {
    transform: translateY(10vw);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/****************        OM SLUT          ************/
/****************        OM JOSEP           ************/

#moed_vinbonden {
  margin: 3vw;
}

/****************     OM JOSEP SLUT       ************/
/****************        OM CLAES           ************/

/****************     OM CLAES SLUT       ************/

/****************        KONTAKT           ************/
#kontakt {
  margin: 3vw;
}

#kontakt a {
  text-decoration: underline;
}

#kontakt svg {
  max-width: 100vw;
  max-height: 100vh;
  margin-top: -70vw;
  margin-bottom: -70vw;
}

/*ANIMATION PÅ SVG/PIN PÅ KORT*/

.cls-8 {
  animation: jump 1.5s ease-in-out both infinite;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3vw);
  }
  100% {
    transform: translateY(0);
  }
}

/****************     KONTAKT SLUT       ************/

/****************MEDIA QUERIES************/
/****************MEDIA QUERIES************/
/****************MEDIA QUERIES************/
/****************MEDIA QUERIES************/
/****************MEDIA QUERIES************/

@media screen and (min-width: 768px) {
  .readmore {
    padding: 0.6vw;
  }

  /****************      FORSIDE       ************/

  header .mobil {
    display: none;
  }

  header .desktop {
    display: flex;
  }

  .desktop {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 1vw;
  }

  .nav_bg {
    background-color: var(--bagColor);
  }

  .nav_bg #myDropdown {
    background-color: var(--bagColor);
  }

  .desktop a {
    font-weight: 500;
    padding: 0 1vw 0 1vw;
    font-size: 1rem;
  }

  /* Dropdown Button */
  .dropbtn {
    background-color: transparent;
    color: var(--textColor);
    padding: 0 1vw 0 1vw;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    font-family: var(--fontMain);
    font-weight: 500;
  }

  /* Dropdown button on hover & focus */

  .dropbtn:focus {
    font-weight: 600;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: var(--textColor);
    text-decoration: none;
    display: block;
    font-weight: 400;
    font-size: 0.9rem;
    margin-top: 1vw;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    font-weight: 600;
  }

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
    display: block;
  }

  /*************** NAV SLUT ****************/
  /*************** HERO IMAGE ****************/

  .logo {
    width: 20%;
  }

  #splash h2 {
    font-size: 2rem;
    top: 49vh;
  }

  /*************** HERO SLUT ****************/
  /*************** MAIN ****************/

  #headline {
    font-size: 2.5rem;
  }

  .index_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 5vw 5vw 0 5vw;
    grid-column-gap: 2vw;
  }

  .index_wrapper img {
    width: 100%;
  }

  #meet_content {
    margin-left: 18vw;
  }

  .index_text {
    grid-row: 1;
    background-color: #f2f0ed80;
    z-index: 1;
  }

  /* .index_text p {
    font-size: 0.9rem;
  } */

  /* .index_text p {
    background-color: #f2f0ed80;
  } */

  .index_image {
    grid-row: 1;
  }

  /*************** MAIN SLUT ****************/
  /*************** FOOTER ****************/

  #mobile_footer {
    display: none;
  }

  #desk_footer {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-column-gap: 1vh;
    padding: 4vh;
    align-items: center;
    text-align: right;
  }

  #desk_footer img {
    width: 60%;
    animation: swinging 3.5s ease-in-out forwards infinite;
  }

  .scroll-down {
    left: 46vw;
  }

  /*************** FORSIDE SLUT ****************/
  /*************** VINE ****************/

  .btn {
    padding: 0.7vw;
  }

  #intro {
    display: grid;
  }

  /* .fragt_info p {
    font-size: 0.9rem;
  } */

  .fragt_info {
    margin: 2vw 2vw 1vw 20vw;
    /* border: 3px solid var(--prettyYellow); */
    border: 3px solid white;
    padding: 1vw;
    border-radius: 10px;
  }

  .content {
    display: grid;
  }

  aside {
    position: fixed;
  }

  #contextnav nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 18vw;
    text-align: left;
    min-width: 17vw;
    padding: 3vw;
    margin-top: 0;
  }

  .show_only {
    border-bottom: none;
    margin: 0 0 2vw 0;
  }

  #moed_smidtvine nav {
    min-width: 16vw;
  }

  #contextnav a {
    font-weight: 400;
  }

  #contextnav nav a {
    padding: 0.5vw 0 0.5vw 0;
  }

  #contextnav nav a:hover {
    font-weight: 600;
  }

  #contextnav {
    border-right: 1px solid var(--textColor);
    border-bottom: 0;
    border-top: 0;
  }

  .wines {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1vh;
    grid-row-gap: 5vh;
    padding: 3vh;
    align-items: center;
    margin-left: 16vw;
  }

  #single_wrapper {
    grid-column: 2;
  }

  .single_product {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin-right: 5vh;
    grid-gap: 5vh;
  }

  .single_product .right {
    margin-top: 4vw;
  }

  .single_product .wine_image {
    align-self: initial;
  }

  .single_product h2 {
    margin-top: 0;
  }

  #mix_products {
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin-right: 3vw;
    margin-left: 3vw;
  }

  #mix_products a {
    font-weight: 400;
  }

  #promises {
    padding: 3vw;
    margin-left: 18vw;
  }

  .promises_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }

  #promises img {
    max-width: 55%;
  }

  #specialiteter .vine_headline {
    background-image: linear-gradient(90deg, transparent 50%, var(--specialitetColor) 0);
  }

  #specialiteter #wines img {
    max-width: 110px;
  }

  #specialiteter .fragt_info {
    border: 3px solid var(--specialitetColor);
  }

  /*************** SPECIALITETER SLUT ****************/
  /*************** MØD SMIDT VINE ****************/

  #start_wrapper,
  .garage_wrapper,
  .vinsmagning_wrapper,
  .vinfestival_wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: 100px; */
    margin: 2vw 5vw 0 5vw;
  }

  #moed_smidtvine {
    margin: 3vw 0 3vw 0;
  }

  #moed_smidtvine img {
    width: 100%;
  }

  #meet_content {
    margin-left: 18vw;
  }

  #garagesalg,
  #vinsmagning,
  #vinfestival {
    margin-top: 5vw;
  }

  .start_text,
  .vinsmagning_text {
    grid-column: 6 / end;
    grid-row: 1;
    background-color: #f2f0ed80;
    z-index: 1;
    padding: 2vw;
  }

  .garage_text,
  .vinfestival_text {
    grid-column: 1 / 6;
    grid-row: 1;
    background-color: #f2f0ed80;
    z-index: 1;
    padding: 2vw;
  }

  .start_image,
  .vinsmagning_image {
    grid-column: 1 / 6;
    grid-row: 1;
  }

  .garage_image,
  .vinfestival_image {
    grid-column: 6 / end;
    grid-row: 1;
  }

  #vinsmagning h2 {
    text-align: right;
    margin-right: 5vw;
    padding-top: 5vw;
  }

  #vine_headline {
    margin-top: 7vw;
    text-align: left;
  }

  .vine_headline {
    padding: 2vh;
    margin-left: 20vw;
  }

  #vinfestival h2,
  #garagesalg h2 {
    margin-left: 5vw;
    padding-top: 5vw;
  }

  /*************** MØD SMIDT VINE SLUT ****************/
  /*************** OM SMIDT VINE START ****************/
  #historie p {
    font-size: 0.9rem;
  }

  #historie,
  .lokal_wrapper,
  .unik_wrapper,
  .personlig_wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: 100px; */
    margin: 2vw 0 0 5vw;
  }

  .lokal_wrapper,
  .unik_wrapper,
  .personlig_wrapper {
    align-items: center;
  }

  .lokal_wrapper img,
  .unik_wrapper img,
  .personlig_wrapper img {
    max-width: 80%;
  }

  #about_smidtvine {
    margin: 0 0 5vw 0;
  }

  #about_content {
    margin-left: 18vw;
  }

  #løfter {
    margin-top: 0;
  }

  #løfter h2 {
    margin-left: 5vw;
    padding-top: 5vw;
  }

  .historie_text,
  .unik_text {
    grid-column: 6 / end;
    grid-row: 1;
    z-index: 1;
    padding: 2vw;
  }

  .historie_text {
    padding: 0 0 0 2vw;
    grid-column: 7 / end;
  }

  .lokal_text,
  .personlig_text {
    grid-column: 1 / 7;
    grid-row: 1;
    z-index: 1;
    padding: 2vw;
  }

  .historie_image {
    grid-column: 1 / 7;
    grid-row: 1;
  }

  .unik_image {
    grid-column: 2 / 6;
    grid-row: 1;
  }

  .lokal_image,
  .personlig_image {
    grid-column: 8 / 12;
    grid-row: 1;
  }

  /*************** OM SMIDT VINE SLUT ****************/
  /*************** OM VINBØNDERNE START ****************/
  #nicoschmitt,
  #josepgrau,
  .vinomraadet_wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: 100px; */
    margin: 2vw 5vw 0 5vw;
  }

  #moed_vinbonden {
    margin: 3vw 0 3vw 0;
  }

  #moed_vinbonden img {
    width: 100%;
  }

  #vinbonde_content {
    margin-left: 18vw;
  }

  #vinomraadet {
    padding-top: 5vw;
  }

  #vinomraadet h2 {
    /* padding-top: 5vw; */
    margin-left: 5vw;
  }

  .nico_text,
  .josep_text {
    grid-column: 6 / end;
    grid-row: 1;
    background-color: #f2f0ed80;
    z-index: 1;
    padding: 2vw;
  }

  .mosel_text,
  .montsant_text {
    grid-column: 1 / 6;
    grid-row: 1;
    background-color: #f2f0ed80;
    z-index: 1;
    padding: 2vw;
  }

  .nico_image,
  .josep_image {
    grid-column: 1 / 6;
    grid-row: 1;
  }

  .mosel_image,
  .montsant_image {
    grid-column: 6 / end;
    grid-row: 1;
  }

  #moed_vinbonden h2 {
    margin-left: 7vw;
  }

  /*************** OM VINBØNDERNE SLUT ****************/
  /*************** KONATKT START ****************/

  #kontakt svg {
    max-width: 100%;
    margin: 0;
  }

  #kontakt {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2vw;
    align-items: center;
    margin-top: -10vw;
  }
}

/**************** LARGE SCREEN MEDIA QUERIES************/
/**************** LARGE SCREEN MEDIA QUERIES************/
/**************** LARGE SCREEN MEDIA QUERIES************/
/**************** LARGE SCREEN MEDIA QUERIES************/
/**************** LARGE SCREEN MEDIA QUERIES************/

@media screen and (min-width: 1680px) {
  p,
  a {
    font-size: 1.3rem;
  }

  h1,
  .vine_headline {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 1.7rem;
  }

  .dropbtn,
  .desktop a {
    font-size: 1.5rem;
  }

  #headline {
    font-size: 5rem;
  }

  #splash h2 {
    font-size: 3rem;
  }

  .scroll-down p {
    font-size: 1.8rem;
  }

  #løfter p,
  #historie p {
    font-size: 1.3rem;
  }

  /* .wines {
    grid-template-columns: repeat(4, 1fr);
  } */

  #wines p,
  #wines a {
    font-size: 1.1rem;
  }

  .wine_name {
    font-size: 2rem;
  }

  .wine_price p {
    font-size: 1rem;
  }

  #wines img {
    max-width: 75px;
  }

  #wines h3 {
    font-size: 1.5rem;
  }

  #mix_products h2 {
    font-size: 1.3rem;
  }

  #contextnav nav {
    min-width: 14vw;
  }

  .single_wine h2 {
    font-size: 2rem;
  }

  .btn__effect--2:before {
    top: 0.3vw;
  }

  .show_only {
    font-size: 1.5rem;
  }

  #specialiteter #wines img {
    max-width: 120px;
  }

  footer a,
  footer p {
    font-size: 1.2rem;
  }

  #kontakt p {
    font-size: 1.3rem;
  }
}
